@model Trips.Models.Agent;

@{
    ViewData["title"] = "Create agent";
}

@* content header *@
<div class="main-content-header">
    <h4 class="title">@ViewData["title"]</h4>
    <br/>
</div>

@* content itself *@
<div class="main-content-ced">
    @using (Html.BeginForm(FormMethod.Post, new {@class = "entity-ce"}))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <fieldset>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.EditorFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName, "")
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.EditorFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName, "")
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Phone)
                @Html.EditorFor(m => m.Phone)
                @Html.ValidationMessageFor(m => m.Phone, "")
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, "")
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FkTravelAgencyId)
                @Html.DropDownListFor(m => m.FkTravelAgencyId, (IList<SelectListItem>) ViewData["travelAgencies"]!, "")
                @Html.ValidationMessageFor(m => m.FkTravelAgencyId, "")
            </div>

        </fieldset>

        <br/>
        <div class="container-fluid d-flex d-row justify-content-start align-content-center ps-0">
            <span class="actions">
                <a href="@Url.Action("Index")"
                   class="btn btn-outline-danger btn-sm">
                    <i class="fa-solid fa-angles-left"></i> Cancel
                </a>
                <button name="save" value="1" class="btn btn-outline-success btn-sm"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            </span>

        </div>
    }
</div>

@* content footer *@
<div class="main-content-footer">
    <span class="title"></span>
</div>