@model Trips.Models.Agent

@{
    ViewData["title"] = "Delete agent";
}

@* content header *@
<div class="main-content-header">
    <h4>@ViewData["title"]</h4>
    <br/>
    <h5 class="text-danger ps-0">@ViewData["deletionError"]</h5>
    <br/>
    <p class="h5">Are you really want delete agent?</p>
    <p>Associated orders, bills and payments will be deleted.</p>
    <br/>
</div>

@* content itself *@
<div class="main-content-ced">
    @using (Html.BeginForm(FormMethod.Post, new {@class = "entity-d"}))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <dl>
                <dt>@Html.DisplayNameFor(m => m.Id)</dt>
                <dd>@Html.DisplayFor(m => m.Id)</dd>

                <dt>@Html.DisplayNameFor(m => m.FirstName)</dt>
                <dd>@Html.DisplayFor(m => m.FirstName)</dd>

                <dt>@Html.DisplayNameFor(m => m.LastName)</dt>
                <dd>@Html.DisplayFor(m => m.LastName)</dd>

                <dt>@Html.DisplayNameFor(m => m.Phone)</dt>
                <dd>@Html.DisplayFor(m => m.Phone)</dd>

                <dt>@Html.DisplayNameFor(m => m.Email)</dt>
                <dd>@Html.DisplayFor(m => m.Email)</dd>

                <dt>@Html.DisplayNameFor(m => m.FkTravelAgencyTitle)</dt>
                <dd>@Html.DisplayFor(m => m.FkTravelAgencyTitle)</dd>
            </dl>

            <br/>
            <div class="container-fluid d-flex d-row justify-content-start align-content-center ps-0">
                <div>
                    <a href="@Url.Action("Index")"
                       class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-angles-left"></i>Cancel
                    </a>
                </div>

                <button formaction="@Url.Action("DeleteConfirm", new {id = Model.Id})"
                        class="btn btn-outline-danger btn-sm mt-0">
                    <i class="fa-solid fa-trash"></i> Remove
                </button>
            </div>

        </fieldset>
    }
</div>

@* content footer *@
<div class="main-content-footer">

</div>