@model Trips.Models.Agent

@* this will also be used as page title in main layout *@
@{
	ViewData["title"] = "Modelio redagavimas";
}

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")"
		   class="btn btn-outline-primary btn-sm">
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>

@* content itself *@
<div class="main-content-ced">
	@using (Html.BeginForm(FormMethod.Post, new { @class = "entity-ce" }))
	{
		@Html.AntiForgeryToken()

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
		@Html.HiddenFor(m => m.Id)
		@Html.HiddenFor(m => m.FkTravelAgency)

		<fieldset>
			<div class="form-group">
				@Html.LabelFor(m => m.FirstName)
				@Html.EditorFor(m => m.FirstName)
				@Html.ValidationMessageFor(m => m.FirstName, "")
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.LastName)
				@Html.EditorFor(m => m.LastName)
				@Html.ValidationMessageFor(m => m.LastName, "")
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Phone)
				@Html.EditorFor(m => m.Phone)
				@Html.ValidationMessageFor(m => m.Phone, "")
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Email)
				@Html.EditorFor(m => m.Email)
				@Html.ValidationMessageFor(m => m.Email, "")
			</div>

			@*<div class="form-group">
				@Html.LabelFor(m => m.FkTravelAgency)
				@Html.DropDownListFor(m => m.FkTravelAgency, Enumerable.Empty, (string)ViewData["none-chosen"])
				@Html.ValidationMessageFor(m => m.FkTravelAgency, "")
			</div>*@

		</fieldset>

		<div class="container-fluid d-flex d-row justify-content-end">
			<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
		</div>
	}
</div>

@* content footer *@
<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")"
		   class="btn btn-outline-primary btn-sm">
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>
