@model IEnumerable<Trips.Models.Agent>;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Agents";
}

<div class="main-content-header">
    <span class="title">@ViewData["title"]</span>
    <span class="actions">
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create new</a>
    </span>
</div>


<div class="main-content-lst">
    <table class="table entity-list" cellpadding="5" align="center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkTravelAgency)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(model => customer.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => customer.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(model => customer.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => customer.FkTravelAgency)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = customer.Id })" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i> Redaguoti</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = customer.Id })" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash"></i> Šalinti</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>