@model IEnumerable<Trips.Models.Customer>;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Customers";
}

<div class="main-content-header">
    <span class="title">@ViewData["title"]</span>
    <span class="actions">
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create new</a>
    </span>
</div>


<div class="main-content-lst">
    <table class="table entity-list" cellpadding="5" align="center">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => customer.PersonalCode)
                </td>
                <td>
                    @Html.DisplayFor(model => customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => customer.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(model => customer.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => customer.Street)
                </td>
                <td>
                    @Html.DisplayFor(model => customer.Town)
                </td>
                <td>
                    @Html.DisplayFor(model => customer.PostalCode)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new {id = customer.PersonalCode})" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", new {id = customer.PersonalCode})" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>