@model Trips.Models.AgentOrdersL

@{
    ViewData["title"] = "Delete orders";
}

@* content header *@
<div class="main-content-header">
    <h4>@ViewData["title"]</h4>
    <br/>
    <h5 class="text-danger ps-0">@ViewData["deletionError"]</h5>
    <br/>
    <p class="h5">Are you really want delete all agent orders?</p>
    <p>Associated bills and payments will be deleted.</p>
    <br/>
</div>

<div class="main-content-lst">
    <br/>
    <br/>
    <div class="container-fluid d-flex d-row justify-content-center">
        <h5>Orders details</h5>
    </div>
    <table class="table entity-list" cellpadding="5" align="center">
        <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Adults Count")
            </th>
            <th>
                @Html.DisplayName("Children Count")
            </th>
            <th>
                @Html.DisplayName("Final Price")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Luggage Size")
            </th>
            <th>
                @Html.DisplayName("Agent")
            </th>
            <th>
                @Html.DisplayName("Customer")
            </th>
            <th>
                @Html.DisplayName("Trip")
            </th>


        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => order.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => order.AdultsCount)
                </td>
                <td>
                    @Html.DisplayFor(model => order.ChildrenCount)
                </td>
                <td>
                    @Html.DisplayFor(model => order.FinalPrice)
                </td>
                <td>
                    @Html.DisplayFor(model => order.Status)
                </td>
                <td>
                    @Html.DisplayFor(model => order.LuggageSize)
                </td>
                <td>
                    @Html.DisplayFor(model => order.FkAgent)
                </td>
                <td>
                    @Html.DisplayFor(model => order.FkCustomer)
                </td>
                <td>
                    @Html.DisplayFor(model => order.FkTripId)
                </td>
            </tr>
        }
        </tbody>
    </table>

    <br/>
    <div class="container-fluid d-flex d-row justify-content-start align-content-center ps-0">
        <div>
            <a href="@Url.Action("Index", new {id = Model.Agent.Id})"
               class="btn btn-outline-primary btn-sm">
                <i class="fa-solid fa-angles-left"></i>Cancel
            </a>
        </div>

        <button formaction="@Url.Action("DeleteConfirm")"
                class="btn btn-outline-danger btn-sm mt-0">
            <i class="fa-solid fa-trash"></i> Remove
        </button>
    </div>
</div>


@* content footer *@
<div class="main-content-footer">

</div>