@model Trips.Models.AgentOrdersL;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Agent approved orders";
}

<div class="container-fluid d-flex d-row justify-content-center">
    <h4 class="title">@ViewData["title"]</h4>
</div>

<div class="main-content-lst">
    <br/>
    <br/>
    <div class="container-fluid d-flex d-row justify-content-center">
        <h5>Agent details</h5>
    </div>

    <table class="table entity-list" cellpadding="5" align="center">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agent.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent.FkTravelAgencyTitle)
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => Model.Agent.Id)
            </td>
            <td>
                @Html.DisplayFor(model => Model.Agent.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => Model.Agent.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => Model.Agent.Phone)
            </td>
            <td>
                @Html.DisplayFor(model => Model.Agent.Email)
            </td>
            <td>
                @Html.DisplayFor(model => Model.Agent.FkTravelAgencyTitle)
            </td>
        </tr>

        </tbody>
    </table>

</div>

<div class="main-content-lst">
    <br/>
    <br/>
    <div class="container-fluid d-flex d-row justify-content-center">
        <h5>Orders details</h5>
    </div>
    <table class="table entity-list" cellpadding="5" align="center">
        <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Adults Count")
            </th>
            <th>
                @Html.DisplayName("Children Count")
            </th>
            <th>
                @Html.DisplayName("Final Price")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Luggage Size")
            </th>
            <th>
                @Html.DisplayName("Agent")
            </th>
            <th>
                @Html.DisplayName("Customer")
            </th>
            <th>
                @Html.DisplayName("Trip")
            </th>


        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => order.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => order.AdultsCount)
                </td>
                <td>
                    @Html.DisplayFor(model => order.ChildrenCount)
                </td>
                <td>
                    @Html.DisplayFor(model => order.FinalPrice)
                </td>
                <td>
                    @Html.DisplayFor(model => order.Status)
                </td>
                <td>
                    @Html.DisplayFor(model => order.LuggageSize)
                </td>
                <td>
                    @Html.DisplayFor(model => order.FkAgent)
                </td>
                <td>
                    @Html.DisplayFor(model => order.FkCustomer)
                </td>
                <td>
                    @Html.DisplayFor(model => order.FkTripId)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<br/>
<div class="container-fluid d-flex d-row justify-content-between ps-0">

    <div>
        <a href="@Url.Action("Index", "Agent")"
           class="btn btn-outline-primary btn-sm">
            <i class="fa-solid fa-angles-left"></i> Back
        </a>
        <a href="@Url.Action("Edit", new {id = Model.Agent.Id})"
           class="btn btn-outline-success btn-sm">
            <i class="fa-solid fa-plus"></i>Edit
        </a>
    </div>

    <div>
        <a href="@Url.Action("Delete", "Agent", new {id = Model.Agent.Id})"
           class="btn btn-outline-danger btn-sm">
            <i class="fa-solid fa-plus"></i>Delete agent
        </a>
        @if (Model.Orders.Any())
        {
            <a href="@Url.Action("Delete", new {id = Model.Agent.Id})"
               class="btn btn-outline-danger btn-sm">
                <i class="fa-solid fa-plus"></i>Delete all orders
            </a>
        }

        @*<button class="btn btn-outline-danger btn-sm"
                href="@Url.Action("Delete", new {id = Model.Agent.Id})"
                @(Model.Orders.Any() ? "" : "disabled")>
            Delete all orders
        </button>*@

        @*<button type="button"
                class="btn btn-outline-danger btn-sm"
                onclick="location.href='@Url.Action("Delete", new {id = Model.Agent.Id})'"
                @(Model.Orders.Any() ? "" : "disabled")>
            >
            Delete all orders
        </button>*@


    </div>

</div>